<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<form method="post" action="/add_user">
    <br><h3>Login</h3>
    <input type="text" name="login">
    <br><h3>Password</h3>
    <input type="text" name="pass">
    <br><h3>E-mail</h3>
    <input type="text" name="email">
    <br><h3>Phone</h3>
    <input type="text" name="phone">
    <br><h3>First Name</h3>
    <input type="text" name="first_name">
    <br><h3>Last Name</h3>
    <input type="text" name="last_name">
    <br><button type="submit">Register</button>
</form>
</body>
</html>